<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>ABOUT PAGE</title>
</head>
<body>
  <section>
	  <div class="card mr-3 ml-3 mt-5">
		  <div class="card-body" th:if="${contact}">
			  <div class="container text-center">
				   <img style="height: 200px; width: 200px;"  class="my_profile_picture" src="" th:src="@{'/image/' + ${contact.C_imageUrl}}" alt=""/>
				   <h3 class="mt-3"> <span th:text="${contact.name}"></span>(<span th:text="${contact.secondName}"></span>)</h3>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">SCM<span th:text="${contact.C_Id}"></span></th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${contact.email}"</td>
    
    </tr>
      <tr>
      <th scope="row">Phone</th>
      <td><span th:text="${contact.phone}"</td>
    
    </tr>
     <tr>
      <th scope="row">Work</th>
      <td><span th:text="${contact.work}"</td>
    
    </tr>
 
  </tbody>
  

</table>
<!--<div class="description mt-2">
    <th:block th:text="${contact.description}"></th:block>
</div>-->

<div class="container ">
		  <button class="btn btn-danger btn-sm d-inline">Delete</button>
          <form th:action="@{'/user/updateContact/' + ${contact.C_Id}}" class="mt-2 d-inline ml-2" method="post">
			  <button class="btn btn-success btn-sm" type="submit">Update</button>
		  </form>
</div>

			  </div>
		  </div>
	  </div>
	  <h1  class="text-center p-3 bg-danger text-white" th:unless="${contact}">You Don't Have permission to see this contact.......</h1>
		  
  </section>
</body>
</html>