<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>ABOUT PAGE</title>
</head>
<body>
  <section>
	  <div class="container">
        <div class="card text-center">
			<div class="card-body">
				 <div class="container text-center">
					 <img style="height: 200px; width: 200px;"  class="my_profile_picture" src="" th:src="@{'/image/' + ${user.imageUrl}}" alt=""/>
				 </div>
				<h1 class="text-center mt-3" th:text="${user.name}"></h1>
				       <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">SCM_USER<span th:text="${user.UserId}"></span></th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${user.username}"</td>
    
    </tr>
      <tr>
      <th scope="row">Role</th>
      <td><span th:text="${user.role}"</td>
    
    </tr>
     <tr>
      <th scope="row">Account Active</th>
      <td><span th:text="${user.enabled}"</td>
    
    </tr>
    </tr>
     <tr>
      <th scope="row">About You</th>
      <td><span th:text="${user.about}"</td>
    
    </tr>
 
  </tbody>
  

</table>
			</div>
		</div>
	  </div>
	  
  </section>
</body>
</html>